<template>
	<div>
		<h1>Our offers</h1>
		<div>
			<select v-model="sortingMethod">
				<option v-for="(sortingOption, key) in sortingMethods" v-bind:value="sortingOption" :key="key">{{sortingOption.name}}</option>
			</select>
		</div>
		<div>
			<span>
				Minimum Price: 
				<input v-model="filterValues.priceMin" v-on:keyup.enter="applyFilters()" type="text">
			</span>
			<span>
				Maximum Price: 
				<input v-model="filterValues.priceMax" v-on:keyup.enter="applyFilters()" type="text">
			</span>
			<button v-on:click="applyFilters()">Search</button>

		</div>
		<span ng-if="!loading" class="cars-available">{{ getOffers().length }} {{getOffers().length !== 1 ? 'cars' : 'car'}} available</span>
		<div class="available-offers-list">
			<AvailableOffer v-for="offer in getOffers()" :offer="offer" :key="offer.id" />
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AvailableOffer from './AvailableOffer.vue';
import { OffersService, OfferListing } from '../services/OffersService';

import Filter from './filters/Filter';
import FilterPriceMin from './filters/FilterPriceMin';
import FilterPriceMax from './filters/FilterPriceMax';

interface SortingMethod {
	name: string;
	sort: ((a: OfferListing, b: OfferListing) => number);
}

@Component({
  components: {
	AvailableOffer
  },
})
export default class AvailableOffersList extends Vue {
	private visibleOffers: OfferListing[] = [];
	private offers: OfferListing[] = [];
	private availableFilters: { [k: string]: Filter } = this.getFilters();
	private selectedFilters: ((o: OfferListing) => boolean)[] = [];
	private loading = true;

	private offersService = new OffersService();

	private sortingMethods = this.getSortingMethods();
	private sortingMethod = this.sortingMethods[0];

	private filterValues: { [k: string]: string } = {
		priceMin: "",
		priceMax: ""
	};

	getOffers() {
		return this.offers.filter(o => {
			let filterResult = true;
			Object.values(this.availableFilters).forEach(filter => {
				if (filter.filterFunction(o) === false) {
					filterResult = false;
					return;
				}
			});

			return filterResult;
		}).sort(this.sortingMethod.sort);
	}

	applyFilters() {
		Object.keys(this.availableFilters).forEach(filterCode => {
			if (this.filterValues[filterCode] !== undefined) {
				this.availableFilters[filterCode].value = this.filterValues[filterCode];
			}
		});
	}

	private async created() {
		const response = await this.offersService.list();
		this.offers = response;
		this.loading = false;
		this.availableFilters;
	}

	private getSortingMethods(): SortingMethod[] {
		return [
			{
				name: "Price Asc",
				sort: (a: OfferListing, b: OfferListing) => {
					if (a.price > b.price) {
						return 1;
					}
		
					if (a.price < b.price) {
						return -1;
					}
		
					return 0;
				},
			},
			{
				name: "Price Desc",
				sort: (a: OfferListing, b: OfferListing) => {
					if (a.price > b.price) {
						return -1;
					}
		
					if (a.price < b.price) {
						return 1;
					}
		
					return 0;
				}
			},
			{
				name: "Title Asc",
				sort: (a: OfferListing, b: OfferListing) => {
					if (a.title > b.title) {
						return 1;
					}
		
					if (a.title < b.title) {
						return -1;
					}
		
					return 0;
				}
			},
			{
				name: "Title Desc",
				sort: (a: OfferListing, b: OfferListing) => {
					if (a.title > b.title) {
						return -1;
					}
		
					if (a.title < b.title) {
						return 1;
					}
		
					return 0;
				}
			}
		];
	}

	private getFilters() {
		return {
			priceMin: new FilterPriceMin(),
			priceMax: new FilterPriceMax()
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	h1 {
		text-align: center;
	}
	img.teaser-image {
		width: 40%;
	}
	div.available-offers-list {
		display: flex;
		flex-wrap: wrap;
	}
	div {
		text-align: center;
	}

	button {
		margin-left: 10px;
	}
</style>
