<template>
	<div class="available-offer">
		<div><img class="teaser-image" :src="offer.image"/></div>
		<div>
			<p>{{ offer.title }}</p>
			<p>{{ offer.price }} €</p>
		</div>
		<router-link :to="`/offers/${offer.id}`">Details</router-link>
	</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { OfferListing } from '../services/OffersService';

@Component
export default class AvailableOffer extends Vue {
  @Prop() offer!: OfferListing;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	img.teaser-image {
		width: 40%;
	}

	div.available-offer {
		padding: 10px 2px 10px 2px;
		text-align: center;
	}
</style>
