<template>
	<div>
		<span>
			Minimum Price: 
			<input type="text">
		</span>
		<span>
			Maximum Price: 
			<input type="text">
		</span>
		<button>Search</button>
	</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Filters extends Vue {
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	div {
		text-align: center;
	}
</style>
