<template>
	<div class="offer-details">
		<div v-if="!isLoading">
			<vue-headful :title="offer.title"/>
			<div>
				<h1>{{ offer.title }}</h1>
				<div><strong>Price:</strong> {{ offer.price }} €</div>
				<div>
					<strong>Conditions:</strong>
					<ul>
						<li>Minimum age: {{ offer.conditions.minimumAge }}</li>
						<li>Maximum age: {{ offer.conditions.maximumgAge }}</li>
						<li>Minimum Licence Duration: {{ offer.conditions.minLicenseDuration }}</li>
					</ul>
				</div>

				<div>
					<strong>Car equipment:</strong>
					<ul>
						<li v-for="(equipmentDetail, key) in offer.equipmentDetails" :key="key">{{ equipmentDetail.name }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { OffersService, Offer } from '../services/OffersService';


@Component
export default class OfferDetailsPage extends Vue {
	private offer!: Offer;
	private isLoading = true;

	private offersService = new OffersService();

	private async created() {
		const offer = await this.offersService.get(this.$route.params.id);
		this.offer = offer;
		this.isLoading = false;
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
