<template>
  <div id="app">
    <vue-headful title="Our offers"/>
    <router-view :key="$route.fullPath">></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AvailableOffersList from './components/AvailableOffersList.vue';

@Component({
  components: {
    AvailableOffersList,
  },
})
export default class App extends Vue {
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
